<div class="relative xl:mt-12 xl:flex-row flex-col-reverse flex gap-5 overflow-hidden mt-12">
    <div class="flex-[0.75] bg-black-100 ps-3 pe-3 pb-5 rounded.2xl m-auto">
            <form id="slider" class="flex flex-row gap-8 m-auto slide-left">
                <label class="flex flex-row gap-1 m-auto">
                <input type="text" name="text" placeholder="Search for clubs" class="bg-tertiary py-3 px-6 placeholder:text-secondary 
                text-white rounded-lg outline-none border-none font-medium"/>
            <button class="btn btn-outline-success text-white rounded-lg font-medium ">Search</button>
            </label>
            </form>
        </div>
    <div class="xl:flex-0 xl:h-auto md:h-[500px] h-[300px]">
            <app-planet class="topDiv"></app-planet>
    </div>
</div>