<section  class="w-75 mx-auto pt-12 flex flex-col xl:mt-12 lg:mt-12">
    <div class="{{styles.paddingX}}inset-0 
    top-[120px] max-w-7xl mx-auto flex flex-row items-start gap-5 ">
        <div id="fadein" class="flex flex-col justify-start items-start">
            <h1 class="{{styles.heroHeadText}} text-white">Welcome to <span class="text-success"> RunGroops</span></h1>
            <p class="{{styles.heroSubText}} mt-2 text-white-100">
                Meet and compete with other runners!
            </p>
        </div>
    </div>
    <app-hero></app-hero>
</section>




